---
import Icon from './Icon.astro';
---

<!-- TODO change icons -->

<section class="box numbers">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="paper-plane-tilt" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>20+ talks</h2>
		<p>todo</p>
		<p>todo</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>99.999% uptime</h2>
		<p>18.000 hours delivered in less than 10 years</p>
		<p>todo</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>100M+ API calls</h2>
		<p>todo</p>
		<p>todo</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.numbers {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.numbers h2 {
		font-size: var(--text-lg);
	}

	.numbers p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.numbers {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.numbers h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
